doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class='NavBar')
      h1  Nav Bar
      p
        a(class='index' href='/') Index
        a(class='newForm' href='/newDataForm') New Data
        a(class='editForm' href='/editDataForm') Edit Data
    block content
