body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.NavBar
{
  background: lightgrey;
  text-align: center;
}

.index
{
  padding-left: 2%;
}


.newForm
{
  padding-left: 2%;
}


.editForm
{
  padding-left: 2%;
}